@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* shared styles */
.text-center {
    text-align: center;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 35px;
    border-radius: 8px;
    border: none;

    background: rgb(255, 0, 0);
}

.red {
    color: rgb(255, 0, 0);
}

.portfolio-items {
    width: 424px;
    height: 450px;
    border-radius: 16px;
}

/* banner styles */
.banner {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/banner.png);
    margin: 50px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    padding: ;
}

.banner-sub-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}

/* new year section styles */
.new-year-section {
    text-align: center;
    margin-top: 120px;
}

.title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}

.sub-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.description {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
}

/* welcome section styles */
.welcome {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    margin: 50px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

/* .welcome_text{
    padding-top: 126px;
    padding-left: 142px;
    padding-right: 94.17px;
} */

.welcome-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    padding-left: 110px;
    padding-top: 70px;
}

.welcome-discription {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 110px;

}

.welcome-btn {
    margin-top: 30px;
    margin-left: 145px;
}

.welcome-img {
    width: 349.16px;
    height: 464.65px;
    margin-top: 68px;
    margin-right: 30px;
}

/* schedule section styles */
.schedule {
    margin: 126px auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    width: 1320px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: rgb(255, 0, 0);
}

.schedule-title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.btn-schedule {
    text-align: center;
}

/* coming soon section styles */
.coming-soon {
    display: flex;
    justify-content: space-around;
    width: 1320px;
    height: 463px;
    margin: 120px auto;
}

.container {
    margin-top: 104px;
    margin-bottom: 104px;
}

.title-soon {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.sub-title-soon {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.description-soon {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture img {
    width: 364.84px;
    height: 364.84px;
    border-radius: 50%;
    padding: 30px;
    border: 10px solid red;
}

.cont-pic {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.title-2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.container-2 {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

/* holiday section styles */

/* portfolio section styles */
.portfolio {
    height: 1163px;
    width: 1320px;
    margin: 120px auto;
}

.portfolio-content {
    text-align: left;
}

.portfolio-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio-sub-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.portfolio-images{
    display: flex;
    gap: 24px;
    margin-top: 24px;
}